aiogram==1.4
loguru==0.7.1
python-dotenv==1.2.3
peewee==1.0.0
Telethon==1.45.0
openpyxl==1.8.6
groq==1.7.0
openai==1.109.1
asgiref==1.1.2
g4f==8.5.1
pysocks==1.7.1
aiohttp-socks==0.12.0
fastapi==0.142.2
uvicorn==0.52.1
python-multipart==0.0.31
fluent.runtime==0.3.1
fluent-logger-pyramid==0.0.1
lingua-language-detector==1.4.2