aiogram~=3.27.0
loguru~=0.7.3
python-dotenv~=1.2.1
peewee~=4.0.1
Telethon~=1.43.1
openpyxl~=3.1.5
groq~=1.2.0
configparser~=7.2.0
openai~=2.32.0
asgiref~=3.11.1
g4f~=7.5.0
pysocks~=1.7.1
aiohttp-socks~=0.11.0